/** Fonts **/

$font-stack:'Michroma',
sans-serif;
 $font-stack2:'Abel',
'Arial',
sans-serif;

/** Color **/

$header-color:#ffb8ff;
 $main-color:#fff;
 $box-color1:#99f;
 $box-color2:#669;
 $box-color3:#c9f;
$highlight-color:#006;
$text-color:#000;